.navbar{
    top:0;
    width:100%;
    background-color: black;
    z-index:  10;
    position:fixed;
    box-sizing:border-box;
    display: block;

     {
      font-weight: 700;
      font-size: 130px;
      padding-top: 20px;
    }
    
    a.nav-link:hover {
      color: red;
      border: 1px solid white;
      border-radius: 2px;
    }
    #header-img {
      width: 450px;
      height: 250px;
      margin-top: 200px;
    }
    
    #aboutimg {
      width: 550px;
      height: 450px;
    }
    
    #rightside {
      padding-left: 100px;
    }
    
    .about-us {
      padding-bottom: 20px;
      font-size: 60px;
      font-weight: 600;
    }
    
    .slider{
      margin-right: 20px;
      flex-direction: row;
      justify-content: space-between;
      display: inline-block;
    }
    
    .scrolling-wrapper {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin: 10px;
    }
    .card {
      flex: 0 0 auto;
      padding: 40px;
    }
    
    .mobile-view-body {
      padding-left: 20px;
    }
    
    
    input {
      width: 70vw !important;
      display: flex;
      justify-items: center !important;
    }
    
    .button {
      width: 10% !important;
      margin-left: 200px;
    }
    
    .bg {
      background-color: black;
    }
    
    .hover-box:hover {
      background-color: antiquewhite;
    }
    
    
    
    
    /* -------------------------Media Queries------------------------------ */
    
    @media screen and (max-width: 768px) {
      .mobile-view-header-btn {
        margin-right: 10px;
      }
      .card {
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
      }
      #header-text {
        font-weight: 500;
        font-size: 60px;
      }
    
      #header-img {
        width: 300px;
        height: 150px;
        margin-top: -40px;
        padding-right: 35px;
      }
    
      #aboutimg {
        width: 300px;
        height: 250px;
      }
    
      .mobile-view-img {
        display: flex;
        justify-content: center;
      }
    
      #rightside {
        padding-left: 0px !important;
      }
    
      .button {
        width: 10% !important;
        margin-left: 100px;
      }
    
      .mobile-view-body {
        padding-left: 15px;
      }
    }
    
      
      
      
      
      
    